vault/
out/
.DS_Store
*.qcow2
*.raw
*.VHD
__pycache__/
.venv/
.pytest_cache/
/4.2_bd.*.img
/Reverse.gpr
/Reverse.lock*
/Reverse.rep/
/docs/*.pdf
/Openstep-4.2-Intel-User.iso
/Openstep-4.2-Intel-Developer.iso
/tools/nextufs/src/
/tools/nextufs/bin/
/tools/chameleon/src/
/BootX-BootX-34/
/apps/ReopenStepWorkbench/build/
/apps/ReopenStepWorkbench/obj/
/apps/ReopenStepWorkbench/ReopenStepWorkbench.app/
